$color-primary: #61BCF2;
$color-text: #334155;
$color-text-subtitle: #475569;
$color-background: #f1f5f9;
$color-white: #ffffff;

$width-siderbar: 13.75rem;
$border-radius: 0.5rem;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;