$color-primary: #61BCF2;
$color-text: #334155;
$color-background: #d9d9d9;
$color-white: #ffffff;

$breakpoint-xs: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;