@use 'variables' as v;

:host{
    display: block;
    background-color: v.$color-background;
    width: 100%;

    main{
        height: calc(100dvh - 56px);
        display: flex;
        gap: 0.5rem;
        padding: 1rem;
    }
}