@use 'variables' as v;

:host {
    display: block;
    background-color: v.$color-white;
    width: 100%;
    height: 56px;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding: 0 1rem;
        .header-title {
            font-size: 24px;
        }

        .header-left {
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        .header-right {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        .header-btn{
            color: v.$color-text;
            height: 2rem;
            width: 2rem;
            border-radius: 50%;
            border: none;
            cursor: pointer;
            background-color: transparent;
            transition: background-color 0.5s ease;

            &:hover{
                background-color: v.$color-background
            }
        }
        

    }
}