<app-page-header title="Dashboard" subtitle="Bem vindo, Wesley"></app-page-header>

<div class="page-body">
  <div class="card border-radius card-patient">
    <div class="card-header">
      <div class="card-title">
        <h4>Pacientes ativos</h4>
      </div>
      <div class="card-icon">
        <i class="pi pi-user"></i>
      </div>
    </div>
    <div class="card-body">
      <strong class="card-text">14</strong>
    </div>
    <div class="card-footer">
      <p><strong class="card-text">3 novos</strong> pacientes esse mes</p>
    </div>
  </div>
  <div class="card border-radius card-patient">
    <div class="card-header">
      <div class="card-title">
        <h4>Pacientes ativos</h4>
      </div>
      <div class="card-icon">
        <i class="pi pi-user"></i>
      </div>
    </div>
    <div class="card-body">
      <strong class="card-text">14</strong>
    </div>
    <div class="card-footer">
      <p><strong class="card-text">3 novos</strong> pacientes esse mes</p>
    </div>
  </div>
  <div class="card border-radius card-patient">
    <div class="card-header">
      <div class="card-title">
        <h4>Pacientes ativos</h4>
      </div>
      <div class="card-icon">
        <i class="pi pi-user"></i>
      </div>
    </div>
    <div class="card-body">
      <strong class="card-text">14</strong>
    </div>
    <div class="card-footer">
      <p><strong class="card-text">3 novos</strong> pacientes esse mes</p>
    </div>
  </div>
  <div class="card border-radius card-patient">
    <div class="card-header">
      <div class="card-title">
        <h4>Pacientes ativos</h4>
      </div>
      <div class="card-icon">
        <i class="pi pi-user"></i>
      </div>
    </div>
    <div class="card-body">
      <strong class="card-text">14</strong>
    </div>
    <div class="card-footer">
      <p><strong class="card-text">3 novos</strong> pacientes esse mes</p>
    </div>
  </div>
</div>
