@use 'variables' as v;

:host{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 1rem;

    .page-body{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        width: 100%;
        height: auto;

        .card{
            flex: 1 1 16rem;
            height: 8rem;
            padding: 1rem;
            background-color: v.$color-white;
            border-radius: v.$border-radius;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &.card-patient {
                .card-icon{
                    background-color: v.$color-primary;
                }
                
                strong{
                    color: v.$color-primary;
                }
                
            }

            .card-header{
                display: flex;
                justify-content: space-between;
            }

            .card-icon{
                width: 2rem;
                height: 2rem;
                display: flex;
                border-radius: v.$border-radius;
                justify-content: center;
                align-items: center;
            }

            .card-body{
                font-size: 2rem;
                display: flex;
            }
        }
    }
}