@use 'variables' as v;

:host{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-radius: v.$border-radius;
    padding: 1rem;
    background-color: v.$color-white;
}