@use 'variables' as v;

.card-login {
  width: 50rem;
  height: 28.75rem;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: v.$color-background;
  color: v.$color-text;
  display: flex;
  justify-content: space-between;

  form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;

    input{
    width: 100%;
    margin-top: 1rem;
  }
  }
  
  .form-content{
    padding: 1rem 2rem;
    width: 26rem;
    height: 100%;

    .form-header{

      display: flex;
      flex-direction: column;
      align-items: center;

      .form-title{
        font-weight: 700;
        text-align: center;
      }

    }

  }


  .banner-overlay{
    background-color: v.$color-primary;
    width: 28.125rem;
    border-radius: 5rem 0 0 5rem;
    background-image: url('/assets/welcome-pana.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
  }
}
