@use 'variables' as v;
@use 'mixins' as m;

:host {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  justify-content: center;

  
  .forms-container {
    width: 50rem;
    height: 28.75rem;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: v.$color-background;
    color: v.$color-text;
    display: flex;
    justify-content: space-between;
    transition: border-color 0.4s ease;

    @include m.respond-below(v.$breakpoint-md) {
      width: 100%;
      height: 40rem;
      flex-direction: column-reverse;
      padding-bottom: 2rem;
    }

    @include m.respond-below(v.$breakpoint-sm) {
      height: 30rem;
    }

    .form-content,
    .banner {
      position: absolute;
      top: 0;
      height: 100%;
      transition: transform 0.8s cubic-bezier(.4, 0, .2, 1);
      will-change: transform;
    }

    .form-content {
      padding: 1rem 2rem 2rem;
      width: 26rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      left: 0;
      z-index: 1;
      transform: translateX(0);

      @include m.respond-below(v.$breakpoint-md) {
        width: 100%;
        height: 100%;
        padding: 0 1rem;
      }

      .form-header {
        display: flex;
        flex-direction: column;
        align-items: center;

        .form-title {
          font-weight: 700;
          text-align: center;
        }
      }

      .form-body {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0;

        p-inputgroup {
          margin-top: 0.5rem;
        }
      }

      .form-footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }


    .banner {
      width: 24rem;
      right: 0;
      z-index: 2;
      background-color: v.$color-primary;
      border-radius: 5rem 0 0 5rem;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      transform: translateX(0);
      transition:
        transform 0.8s cubic-bezier(.4, 0, .2, 1),
        border-radius 0.6s cubic-bezier(.4, 0, .2, 1);

      @include m.respond-below(v.$breakpoint-md) {
        width: 100%;
        height: 20rem;
        border-radius: 0 0 5rem 5rem;
        background-size: cover;
      }

      @include m.respond-below(v.$breakpoint-sm) {
        display: none;
      }
    }

    .banner-welcome {
      background-image: url('/assets/welcome-pana.svg');
    }

    .banner-forgot {
      background-image: url('/assets/reset-password.svg');
    }

    &.forgot-mode {
      .banner {
        transform: translateX(-108%);
        z-index: 3;

        @include m.respond-below(v.$breakpoint-lg) {
          border-radius: 0 5rem 5rem 0;
        }

        @include m.respond-below(v.$breakpoint-md) {
          border-radius: 0 0 5rem 5rem;
        }
      }

      .form-content {
        transform: translateX(93%);
        z-index: 1;
      }
    }

    @include m.respond-below(v.$breakpoint-md) {

      .form-content,
      .banner {
        position: relative;
        transform: none !important;
        z-index: auto;
        transition: none;
      }
    }
  }
}