@use 'variables' as v;
@import "primeicons/primeicons.css";

:root {
  --p-primary-50: #eff6ff;
  --p-primary-100: #dbeafe;
  --p-primary-200: #bfdbfe;
  --p-primary-300: #93c5fd;
  --p-primary-400: #60a5fa;
  --p-primary-500: #3b82f6;
  --p-primary-600: #2563eb;
  --p-primary-700: #1d4ed8;
  --p-primary-800: #1e40af;
  --p-primary-900: #1e3a8a;

  --p-scale: 0.9;

  --p-inputtext-padding-y: 0.4rem;
  --p-button-padding-y: 0.4rem;
  --p-toast-padding: 0.75rem;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: v.$color-text;
}

.alert-danger{
  color: #dc3f3f;
}

.p-0 {
  padding: 0 !important;
}

.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-itens-center {
  align-items: center;
}

.shadow{
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}


.w-100 {
  width: 100%;
}

.fade {
  opacity: 1;
  transition: opacity 0.35s ease;
}

.border-top{
  border-top: solid 1px v.$color-background;
}

.border-botton{
  border-bottom: solid 1px v.$color-background;
}

.border-left{
  border-left: solid 1px v.$color-background;
}

.border-right{
  border-right: solid 1px v.$color-background;
}

.border-all{
  border: solid 1px v.$color-background;
}

.border-radius{
  border-radius: 0.3rem;
}