@use 'variables' as v;
@use 'mixins' as m;

:host {
  flex-shrink: 0;
  background-color: v.$color-white;
  width: v.$width-siderbar;
  height: 100%;
  border-radius: 1rem;
  transition: all 0.5s ease;
  overflow: hidden;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  &:has(.siderbar-closed) {
    width: 0;
  }

  @include m.respond-below(v.$breakpoint-md) {
    z-index: 10;
    position: fixed;
    left: -1 * v.$width-siderbar;
    top: 56px;
    border-radius: 0;

    &:has(.siderbar-open) {
      left: 0;
    }

  }
}

:host ::ng-deep .p-menu {
  border: none;
}

:host ::ng-deep .p-menu-item-link-active {
  background-color: v.$color-background;

}