@use 'variables' as v;

:host{
    display: block;
    background-color: v.$color-white;
    width: v.$width-siderbar;
    height: 100%;
    border-radius: 1rem;
}

:host ::ng-deep .p-menu {
  border: none;
}
